---
import "../styles/globals.css";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
  image?: string;
  empty?: boolean;
}

const {
  title,
  description,
  image = new URL(
    `https://image.luxass.dev/api/image/text?input=${encodeURIComponent(
      JSON.stringify({
        width: 300,
        height: 300,
      }),
    )}`,
  ),
  empty = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="cv.luxass.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {!empty && <Header />}
    <main class="flex-1">
      <slot />
    </main>
    {
      !empty && (
        <footer>
          <p>
            If you wan't to connect, feel free to
            <a
              href="mailto:mail@luxass.dev"
              class="decoration-blue-600 underline decoration-wavy"
            >
              reach out
            </a>{" "}
            to me.
          </p>
          <p class="print:hidden">
            You can find the{" "}
            <a
              download
              href="resume.pdf"
              class="decoration-blue-600 underline decoration-wavy"
            >
              PDF Version
            </a>{" "}
            here.
          </p>
        </footer>
      )
    }
  </body>
</html>
